*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.menu{
  min-width: 400px;
  width: 450px;
  /* height: 600px; */
  background-image: linear-gradient(135deg,#e21f3d 10%,#ef4e3c);
  padding: 1rem;
  color: #fff;
  border-radius: 3px;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.menu-header p{
  border: 2px solid white;
  padding: 4px 8px;
  border-radius: 6px;
}
.menu-details {
  margin-top: 1rem;
}

.menu-details .menu-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 1.1rem;
  /* gap: 8px; */
}
.menu-details .item-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-grow: 3; */
}
.menu-details .menu-item p{
  /* flex-grow: 1; */
}
.fw-dotted{
  /* margin: auto; */
  /* display: inline-block; */
  /* width: 100%; */
  flex: 1;
  border-bottom: 2px dashed white;
  align-self: center;
  margin: 0 5px;
}

.item-price {
  text-align: left;
  width: 100px;
}

.menu-cards {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  
}
.menu-card {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-card img {
  width: 100px;
  border-radius: 8px;
  box-shadow: 1px 10px 11px 0px #1919197d;
  transition: box-shadow 0.2s ease-in;
}
.menu-card img:hover {
  box-shadow: 1px 10px 20px 7px #1919197d;
}
.menu-card p {
  text-align: center;
  margin-top: 0.8rem;
  font-size: 1.1rem;
}


/* survey section */
.survey {
  width: 320px;
  background-color: white;
  /* background-color: coral; */
  padding: 1rem;
}
.survey__title {
 display: flex;
 gap: 1.5rem;
}
.survey__title img {
  width: 35px;
  opacity: 0.7;
}

.survey__details{
  display: flex; 
  /* flex-wrap: wrap; */
 justify-content: space-evenly;
  /* padding: 0.6rem; */

}
.survey__details .graphic-box {
  width: 220px;
  /* height: 200px; */
  /* background-color: coral; */
  background-image: url('../images/survey-graphic.PNG');
  background-size: contain;
background-repeat: no-repeat;
}
.survey__details ul li{
 
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-align: right;
}

/* Book now section */
.book-now {
  width: 320px;
}
.book-now .card-image {
  /* width: 200px; */
  height: 200px;
  background-color: coral;
  background-image: url('../images/mealDish.PNG');
  background-size: cover;
background-repeat: no-repeat;

}
.book-now .details{
  padding: 1rem;
  text-align: center;
  background-image: linear-gradient(179deg,#de4d0c 60%,#fa7947);
}
.btn {
  border: none;
  cursor: pointer;
}
.book-now .book-btn {
  padding: 12px 48px;
  color: #eb591e;
  background-color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 1px 10px 11px 0px #1919197d;
  position: relative;
  bottom: 34px;
  transition: box-shadow 0.2s ease-in;
}

.book-now .book-btn:hover {
  box-shadow: 1px 10px 20px 7px #1919197d;

}
.book-now p {
  color: white;
    font-weight: bold;
    font-size: 1.6rem;
    padding-bottom: 10px;
}
/* favourites section */
.favourites {
  width: 360px;
 padding: 1.5rem;
 /* background-image: linear-gradient(-225deg,#8c6aad 11%,#676cac); */
 /* linear-gradient(56deg,#f16161 11%,#7367f0) */
 background-image: linear-gradient(32deg,#8c66b1 11%,#343ca2);
 color: white;
 
}

.favourites .fav-item {
 display: flex;
 border: 3px solid white;
 border-radius: 7px;
 justify-content: space-between;
 padding: 6px;
 margin-top: 10px;
 height: 50px;
}

.fav-item .item-name {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 1.2rem;
}

.favourites .dot {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  /* background-color: #fff; */
  border-radius: 50%;
}
.favourites .active {
background-color: rgb(126, 245, 126);
}

.favourites .title {
  display: flex;justify-content: start; align-items: center;
  gap: 15px;
}
.favourites .dish-icon{
  width: 50px;
}
.favourites .spoon{
  width: 32px;
}


/* Transaction section */
.transaction{
 background-color: white;
 width: 340px;
 padding: 1.5rem;
}
.transaction h3 {
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 1px;
  text-align: center;
}
.transaction .amount-value {
  text-align: center;
  margin-top: 6px;
}
.transaction .amount{
  font-size: 3rem;
  color: #ee6457;

}
.transaction .php {
  color: #8d8686;
}

.transaction .last-updated {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.9px;
  margin-top: 0.7rem;
  color: #232222;
  display: flex;
  justify-content: center;align-items: center;
  /* margin-bottom: 7px; */
}
.transaction .last-updated img{
  display: inline;
  width: 35px;
  opacity: 0.7;
}

.transaction ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: #232222;
  font-size: 1rem;
  border-top: 2px dashed rgb(180, 177, 177);
  padding-top: 6px;
  margin-top: 10px;
}

.view-more {
  background-color: #f33e2f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;justify-content: center;align-items: center;
  margin-top: 1rem;
  cursor: pointer;
  
}
.view-more svg {
  width: 30px;
}

.transaction .align-right{
  display: flex;
  justify-content: flex-end;

}



















/* gradient */
.round {
  width: 250px;
  height: 250px;
  background: #000;
  /* border-radius: 50%; */
  margin: 30px;
  background: rgb(35,64,186);
  background: linear-gradient(0deg, rgba(35,64,186,1) 0%, rgb(199 202 216) 70%);
}