*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  padding: 1rem;
 
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body{
  max-width: 1500px;
  margin: 0 auto;
  background-color: #dbdbdb;
}

/* main section */
main {
  display: flex;
  margin-top: 1rem;
  gap: 0.7rem;
  width: 100%;
  justify-content: space-around;
}

/* navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  /* width: 1400px; */
}
nav .brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand img {
  width: 80px;
}
.brand p {
  font-size: 1.2rem;
  padding-left: 5px;
}
.brand .bold {
  font-weight: bold;
  letter-spacing: 1.2px;
} 
.brand .normal-txt {
  color: #292828;
}

.right .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid rgba(180, 176, 176, 0.719);
  border-radius: 4px;
  background-color: #fff;
  color: #535353;
}
.profile .gear-icon {
  width: 25px;
    padding: 0px;
    margin: 5px;
    cursor: pointer;
}
.profile .border-lr {
  border-left: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
    height: 100%;
    display: flex; justify-content: center;align-items: center;
    padding: 0 5px;
}

/* order-left: 1px solid #6b6b6b;
    border-right: 1px solid #6b6b6b;
    height: 32px;
    display: inline-block;
    position: relative;
    top: 0px; */

.right ul {
 display: flex;
 gap: 1rem;
 height: 40px;
}
.right img {
  width: 32px;
  height: 100%;
}
/* footer section */
footer {
  font-size: 14px;
  color: #242323;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}


/* weekly menu list */
.weekly-menu {
  width: 340px;
  background-color: #222630;
  padding: 1rem;
  color: white;
  padding-bottom: 2rem;
}

.weekly-menu .weekly-menu-cards {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.weekly-menu-card {
  display: flex;
  width: 140px;
  height: 180px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: teal; */
  border-radius: 10px;
  /* padding: 1; */
  transition: all 0.3s ease-in;
}


.weekly-menu-card img{
  width: 50px;
}
.weekly-menu-card p{
  font-size: 1.2rem;
}

.weekly-menu-card > * {
  position: relative;
  bottom: 50px;
  transition: all 0.2s ease-in;
}


.weekly-menu-card:hover {
  font-size: 1.5rem;
}
.weekly-menu-card:hover img{
  transform: scale(1.2) rotate(2deg);
}
.lg-orange {
  background-image: linear-gradient(181deg,#ff1b4a 10%,#fe6820);
}
.lg-blue {
  background-image: linear-gradient(181deg,#2d2eab 10%,#1d7090);
}
.lg-violet {
  background-image: linear-gradient(140deg,#5f3abb 39%,#b062d0 59%)
}
.lg-pink {
  background-image: linear-gradient(242deg,#f6a758 -29%,#e7468a)
}

/* query section */
.query {
  width: 340px;
  background-color: #222630;
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.2rem;
  transition: all 0.4s ease-in;
}

.query p {
  color: white;
  margin: 12px 0 20px; 
  font-size: 1.1rem;
}

@keyframes scaleIn {
  0% {transform: scale(1)}
  50%{ transform: scale(1.1)}
  100% { transform: scale(1)}
}
.query:hover img {
  /* transform: scale(1.1); */
  animation: scaleIn 1s ease-in;
}


/* menu of the day section */
.menu{
  min-width: 400px;
  width: 450px;
  /* height: 600px; */
  background-image: linear-gradient(135deg,#e21f3d 10%,#ef4e3c);
  padding: 1rem;
  color: #fff;
  border-radius: 3px;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.menu-header p{
  border: 2px solid white;
  padding: 4px 8px;
  border-radius: 6px;
}
.menu-details {
  margin-top: 1rem;
}

.menu-details .menu-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-size: 1.1rem;
  /* gap: 8px; */
}
.menu-details .item-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-grow: 3; */
}
.menu-details .menu-item p{
  /* flex-grow: 1; */
}
.fw-dotted{
  /* margin: auto; */
  /* display: inline-block; */
  /* width: 100%; */
  flex: 1;
  border-bottom: 2px dashed white;
  align-self: center;
  margin: 0 5px;
}

.item-price {
  text-align: left;
  width: 100px;
}

.menu-cards {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  
}
.menu-card {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}
.menu-card:hover {
  transform: scale(1.04);
}
.menu-card img {
  width: 100px;
  border-radius: 8px;
  box-shadow: 2px 5px 10px 0px #191919ab;
  transition: box-shadow 0.2s ease-in;
}
.menu-card img:hover {
  box-shadow: 1px 10px 20px 7px #1919197d;
}
.shadow {
  box-shadow: 0px 3px 10px 0px #1919197d;
  transition: box-shadow 0.2s ease-in;
}
.shadow:hover {
  box-shadow: 1px 10px 13px 1px #1919197d;
}
.menu-card p {
  text-align: center;
  margin-top: 0.8rem;
  font-size: 1.1rem;
}


/* survey section */
.survey {
  width: 320px;
  background-color: white;
  /* background-color: coral; */
  padding: 1rem;
  margin-top: 1.4rem;
}
.survey__title {
 display: flex;
 gap: 1.5rem;
}
.survey__title img {
  width: 35px;
  opacity: 0.7;
}

.survey__details{
  display: flex; 
  /* flex-wrap: wrap; */
 justify-content: space-evenly;
  /* padding: 0.6rem; */

}
.survey__details .graphic-box {
  width: 220px;
  /* height: 200px; */
  /* background-color: coral; */
  background-image: url('../images/survey-graphic.PNG');
  background-size: contain;
background-repeat: no-repeat;
}
.survey__details ul li{
 
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-align: right;
}

/* Book now section */
.book-now {
  width: 320px;
}
.book-now .card-image {
  /* width: 200px; */
  height: 200px;
  background-color: coral;
  background-image: url('../images/mealDish.PNG');
  background-size: cover;
background-repeat: no-repeat;

}
.book-now .details{
  padding: 2rem;
  text-align: center;
  background-image: linear-gradient(179deg,#de4d0c 60%,#fa7947);
}
.btn {
  border: none;
  cursor: pointer;
}
.book-now .book-btn {
  padding: 12px 48px;
  color: #eb591e;
  background-color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 1px 10px 11px 0px #1919197d;
  position: relative;
  bottom: 50px;
  transition: box-shadow 0.2s ease-in;
}

.book-now .book-btn:hover {
  box-shadow: 1px 10px 20px 7px #1919197d;

}
.book-now p {
  color: white;
    font-weight: bold;
    font-size: 1.6rem;
    padding-bottom: 10px;
}
/* favourites section */
.favourites {
  width: 340px;
 padding: 1.5rem;
 margin-top: 1rem;
 /* background-image: linear-gradient(-225deg,#8c6aad 11%,#676cac); */
 /* linear-gradient(56deg,#f16161 11%,#7367f0) */
 background-image: linear-gradient(32deg,#8c66b1 11%,#343ca2);
 color: white;
 
}

.favourites .fav-item {
 display: flex;
 border: 3px solid white;
 border-radius: 7px;
 justify-content: space-between;
 padding: 6px;
 margin-top: 10px;
 height: 50px;
}

.fav-item .item-name {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 1.2rem;
}

.favourites .dot {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  /* background-color: #fff; */
  border-radius: 50%;
}
.favourites .active {
background-color: rgb(126, 245, 126);
}

.favourites .title {
  display: flex;justify-content: start; align-items: center;
  gap: 15px;
}
.favourites .dish-icon{
  width: 50px;
}
.favourites .spoon{
  width: 32px;
}


/* Transaction section */
.transaction{
 background-color: white;
 width: 340px;
 padding: 1.5rem;
}
.transaction h3 {
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 1px;
  text-align: center;
}
.transaction .amount-value {
  text-align: center;
  margin-top: 6px;
}
.transaction .amount{
  font-size: 3rem;
  color: #ee6457;

}
.transaction .php {
  color: #8d8686;
}

.transaction .last-updated {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.9px;
  margin-top: 0.7rem;
  color: #232222;
  display: flex;
  justify-content: center;align-items: center;
  /* margin-bottom: 7px; */
}
.transaction .last-updated img{
  display: inline;
  width: 35px;
  opacity: 0.7;
}

.transaction ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: #232222;
  font-size: 1rem;
  border-top: 2px dashed rgb(180, 177, 177);
  padding-top: 6px;
  margin-top: 10px;
}

.view-more {
  background-color: #f33e2f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;justify-content: center;align-items: center;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.view-more:hover {
  box-shadow: 3px 5px 11px #000000e3;
  /* transform: scale(1.1); */
}
.view-more svg {
  width: 30px;
}

.transaction .align-right{
  display: flex;
  justify-content: flex-end;

}



















/* gradient */
.round {
  width: 250px;
  height: 250px;
  background: #000;
  /* border-radius: 50%; */
  margin: 30px;
  background: rgb(35,64,186);
  background: linear-gradient(0deg, rgba(35,64,186,1) 0%, rgb(199 202 216) 70%);
}

/* media queiries */

/* mobile 300 to 750px*/

@media only screen and (max-width: 420px) {
  .menu {
    min-width: auto;
    width: 100%;
    margin:15px;
  }
  .border-lr {
    font-size: 3vw;
  }
  footer {
    font-size: 3.5vw;
  }
}
@media only screen and (max-width: 700px) {
  nav {
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  footer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
/* tablet 751px 1200px*/
@media only screen and (min-width: 701px) {
  main {
    flex-wrap: wrap;
  }
}
/* desktops 12001 to lg */

@media only screen and (min-width: 1301px) { 
  main {
    flex-wrap: nowrap;
  }
}